---
import Section from "../../components/Section.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Services | Premier Roofing & Gutter Maintenance">
    <Section>
        <h1>Services</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
            repellat amet soluta enim quasi! Impedit voluptas quia in labore,
            animi voluptatibus doloribus explicabo nemo ab mollitia perferendis
            modi magnam nam fuga aperiam maxime recusandae, deleniti sapiente
            eius reiciendis maiores possimus?
        </p>
    </Section>
</Layout>
