---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/HomeHero.astro";
import Section from "../components/Section.astro";
---

<Layout title="Premier Roofing & Gutter Maintenance">
	<HomeHero />
	<Section>
		<h2>Another Section</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quasi
			aut hic dolorem. Illo quod ipsa ratione culpa placeat. Deleniti
			vitae, quo amet temporibus ipsa veritatis vero sint sit aperiam
			nihil, quae nostrum officia pariatur officiis libero. Beatae, eius
			blanditiis.
		</p>
	</Section>
</Layout>
