---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Quick Quote | Premier Roofing & Gutter Maintenance">
    <Section>
        <h1>Quick Quote</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab impedit
            reiciendis aut assumenda ducimus nulla facere, itaque molestiae
            perspiciatis officiis nostrum repellendus eius. Voluptates delectus
            ea quibusdam dolor cumque qui odit illo ratione voluptatibus at
            molestias est explicabo, neque natus?
        </p>
    </Section>
</Layout>
