---
interface Props {
    classes?: string;
}

const { classes } = Astro.props as Props;
---

<section class={classes}>
    <slot />
</section>

<style>
    section {
        padding: 4rem var(--pdx-container);
    }
</style>
